.x-unsized {
	width: 100%;
	height: 100%;
}

.x-button.backBtn .x-button-icon {
	background-image:url(../images/glyphicons/png/glyphicons_380_message_forward.png);
	background-repeat:no-repeat;
	width: 32px !important;
	height: 32px !important;
}

.x-button.commentsBtn .x-button-icon {
	background-image:url(../images/minimalistica/comments.png);
	background-repeat:no-repeat;
	width: 32px !important;
	height: 32px !important;
}

.x-msgbox, .dialog {
  min-width: 15em;
  max-width: 20em;
  padding: 1.2em 1.8em;
  font-size: 80%;
  line-height: 1.1em;
  border: 5px solid #c2c2c2;
  border-radius: 5px;
  background: #fff;
  color: #000;
  font-family: "Helvetica Neue", Helvetica;
}

.x-msgbox .msg, .dialog .msg {
  margin-bottom: 0.6em;
  text-align: center;
}

.x-msgbox .msg p, .dialog .msg p {
  margin-bottom: 0.6em;
}

.x-msgbox .x-button-red,
.x-msgbox .x-button-green, .dialog .x-button-red, .dialog .x-button-green {
  margin-top: 0.3em;
  line-height: 30px;
  border-radius: 5px;
  padding: 0 20px;
  border: 0;
  height: 30px;
  color: #fff;
  cursor: pointer;
}

.x-msgbox .x-button-green, .dialog .x-button-green {
  background: url("../images/bg-sprites.png") repeat-x;
  background-size: 1px 558px;
  background-position-x: 0;
  background-position-y: -495px;
}

.x-msgbox .x-button-red, .dialog .x-button-red {
  background: url("../images/bg-sprites.png") repeat-x;
  background-size: 1px 558px;
  background-position-x: 0;
  background-position-y: -526px;
}

.x-msgbox .x-button-close, .dialog .x-button-close {
  position: absolute;
  width: 25px;
  height: 26px;
  background: url("../images/icon-sprites.png") no-repeat;
  background-size: 219px 76px;
  background-position-x: -193px;
  background-position-y: 0;
  top: -17px;
  right: -15px;
}

.x-msgbox .x-component-outer, .dialog .x-component-outer {
  width: 100%;
}

.x-msgbox .wallMessage, .dialog .wallMessage {
  margin-top: 5px;
  margin-bottom: 10px;
}

.x-msgbox input, .dialog input {
  width: 100%;
}

.loggedOut {
  background: transparent;
}

.loginScreen {
  top: 70% !important;
  background: transparent;
}

.fbLogin {
	background: url("../images/bg-sprites.png") repeat-x;
	background-size: 1px 558px;
	background-position-x: 0;
	background-position-y: -147px;
	margin-bottom: 15px;
	width: 230px;
	height: 35px;
	padding: 0;
	border-radius: 3px;
	color: #FFF;
	font-weight: normal;
	font-family: 'PT Sans Narrow',sans-serif;
}

.fbLogin.x-button-pressing, .fbLogin.x-button-pressed {
  background-position-y: -183px;
}

body.splashBg {
  background-image: -webkit-linear-gradient(#1553C2, #094561);
  background-image: -moz-linear-gradient(#1553C2, #094561);
  background-image: -o-linear-gradient(#1553C2, #094561);
  background-image: linear-gradient(#1553C2, #094561);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.float-panel {
  position: absolute;
}

.fbProfilePic {
	margin-right: 8px;
	position: relative;
	width: 30px;
	height: 30px;
	cursor: pointer;
	top: -5px;
}

.fbProfilePic img {
	border: 0;
	width: 40px;
	height: 40px;
	border-radius: 20px;
}

.x-panel.x-floating .x-panel-inner {
	z-index: 1;
	background-color: #030303 !important; 
}
